*{
  margin: 0;
  padding: 0;
}
#titulo {
  font-family: sans-serif;
  color: #380061;
  margin-left: 7%;
}
#subtitulo{
  font-family: sans-serif;
  color: #380061;
  margin-left: 10%;
}

fieldset {
  border: 0;
}
 
body{
  background-color: #f0f0ff;
  font-family: sans-serif;
  font-size: 1em;
  color: #29429d;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

input, select, textarea, button{
  border-radius: 5px;
}

.campo{
  margin-button:1em;
}